h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

table.table {
  margin-top: 20px;
}

footer {
  margin-top: 20px;
}

.center-block {
  text-align: center;
}

/* Form Errors */
form div.error .help-block,
form div.error .control-label,
form div.error .radio,
form div.error .checkbox,
form div.error .radio-inline,
form div.error .checkbox-inline {
  color: #b94a48;
}

form div.error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

form div.error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

form div.error .input-group-addon {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
